<div *ngIf="osc">
  <div class="flex flex-col p-5 bg-neutral-100">
    <div class="flex items-center">
      <div class="flex flex-wrap">
        <img
          [src]="odd.logo_odd"
          [alt]="odd.name"
          *ngFor="let odd of odds"
          class="mr-3 rounded-md mb-1"
          width="36"
          height="36"
        />
      </div>
      <button class="flex items-center ml-auto text-primary" (click)="onHide()">
        <ng-icon name="heroXMarkSolid" strokeWidth="3" size="20"></ng-icon>
      </button>
    </div>
    <h3 class="mt-4 mb-3 text-xl text-primary font-bold">{{ osc.name }}</h3>
    <div class="flex items-center">
      <span class="text-secondary font-medium">{{ osc.abbreviation }}</span>
      <button
        (click)="onShowMap()"
        class="block md:hidden ml-auto px-3 py-2 bg-primary text-white text-xs font-extrabold rounded-lg uppercase"
      >
        {{ "button.show_map" | translate }}
      </button>
    </div>
  </div>
  <div class="px-5">
    <div class="flex justify-between py-4 border-b border-neutral-200">
      <div
        class="flex flex-col items-center text-primary text-xs"
        *ngIf="osc.site_web"
      >
        <a
          target="_blank"
          [href]="osc.site_web"
          class="flex items-center p-1.5 border rounded-md text-primary border-primary hover:bg-primary focus:bg-primary hover:text-white focus:text-white"
          target="blank"
        >
          <ng-icon name="heroGlobeAltSolid" size="24"></ng-icon>
        </a>
        <span class="mt-1.5">{{ "link.website" | translate }}</span>
      </div>
      <div
        class="flex flex-col items-center text-primary text-xs"
        *ngIf="osc.email_osc"
      >
        <a
          [href]="'mailto:' + osc.email_osc"
          class="flex items-center p-1.5 border rounded-md text-primary border-primary hover:bg-primary focus:bg-primary hover:text-white focus:text-white"
        >
          <ng-icon name="ionMail" size="24"></ng-icon>
        </a>
        <span class="mt-1.5">{{ "link.mail" | translate }}</span>
      </div>
      <div
        class="flex flex-col items-center text-primary text-xs"
        *ngIf="osc.telephone"
      >
        <a
          [href]="'tel:' + osc.telephone"
          class="flex items-center p-1.5 border rounded-md text-primary border-primary hover:bg-primary focus:bg-primary hover:text-white focus:text-white"
        >
          <ng-icon name="ionCall" size="24"></ng-icon>
        </a>
        <span class="mt-1.5">{{ "link.phone" | translate }}</span>
      </div>
      <div class="flex flex-col items-center text-primary text-xs">
        <button
          class="flex items-center p-1.5 border rounded-md text-primary border-primary hover:bg-primary focus:bg-primary hover:text-white focus:text-white"
          [appMenuTriggerFor]="shareMenu"
          [xPosition]="'after'"
          [yPosition]="'below'"
        >
          <ng-icon name="heroShareSolid" size="24"></ng-icon>
        </button>
        <span class="mt-1.5">{{ "link.share" | translate }}</span>
        <app-menu #shareMenu>
          <div class="flex flex-row">
            <button
              [url]="absoluteUrl"
              shareButton="facebook"
              aria-label="Partager sur Facebook"
            >
              <img src="/assets/logos/facebook.png" alt="" />
            </button>
            <button
              [url]="absoluteUrl"
              shareButton="twitter"
              aria-label="Partager sur Twitter"
            >
              <img src="/assets/logos/twitter.png" alt="" />
            </button>
            <button
              [url]="absoluteUrl"
              shareButton="linkedin"
              aria-label="Partager sur LinkedIn"
            >
              <img src="/assets/logos/linkedin.png" alt="" />
            </button>
            <button
              [url]="absoluteUrl"
              shareButton="whatsapp"
              aria-label="Partager sur Whatsapp"
            >
              <img src="/assets/logos/whatsapp.png" alt="" />
            </button>
          </div>
        </app-menu>
      </div>
    </div>
    <div class="py-4 border-b border-neutral-200">
      <h4 class="text-secondary font-bold mb-2">
        {{ "title.contact" | translate }}
      </h4>
      <div
        class="flex items-center mb-2 text-primary"
        *ngIf="osc.personne_contact"
      >
        <ng-icon
          name="heroUserSolid"
          size="24"
          class="text-secondary"
        ></ng-icon>
        <span class="ml-1 text-sm">{{ osc.personne_contact }}</span>
      </div>
      <div class="flex items-center mb-2 text-primary" *ngIf="osc.telephone">
        <ng-icon
          name="heroPhoneSolid"
          size="24"
          class="text-secondary"
        ></ng-icon>
        <a [href]="'tel:' + osc.telephone" class="ml-1 text-sm">{{
          osc.telephone
        }}</a>
      </div>
      <div class="flex items-center mb-2 text-primary" *ngIf="osc.email_osc">
        <ng-icon
          name="heroEnvelopeSolid"
          size="24"
          class="text-secondary"
        ></ng-icon>
        <a [href]="'mailto:' + osc.email_osc" class="ml-1 text-sm underline">{{
          osc.email_osc
        }}</a>
      </div>
      <div class="flex items-center mb-2 text-primary" *ngIf="osc.site_web">
        <ng-icon
          name="heroGlobeAmericasSolid"
          size="24"
          class="text-secondary"
        ></ng-icon>
        <a
          target="_blank"
          [href]="osc.site_web"
          class="ml-1 text-sm underline"
          target="blank"
          >{{ osc.site_web }}</a
        >
      </div>
      <div class="flex items-center mb-2 text-primary" *ngIf="osc.facebook">
        <ng-icon
          name="ionLogoFacebook"
          size="24"
          class="text-secondary"
        ></ng-icon>
        <a
          target="_blank"
          [href]="osc.facebook"
          class="ml-1 text-sm underline"
          target="blank"
          >{{ osc.facebook }}</a
        >
      </div>
      <div class="flex items-center mb-2 text-primary" *ngIf="osc.instagram">
        <ng-icon
          name="ionLogoInstagram"
          size="24"
          class="text-secondary"
        ></ng-icon>
        <a
          target="_blank"
          [href]="osc.instagram"
          class="ml-1 text-sm underline"
          target="blank"
          >{{ osc.instagram }}</a
        >
      </div>
      <div class="flex items-center mb-2 text-primary" *ngIf="osc.linkedin">
        <ng-icon
          name="ionLogoLinkedin"
          size="24"
          class="text-secondary"
        ></ng-icon>
        <a
          target="_blank"
          [href]="osc.linkedin"
          class="ml-1 text-sm underline"
          target="blank"
          >{{ osc.linkedin }}</a
        >
      </div>
      <div class="flex items-center mb-2 text-primary" *ngIf="osc.twitter">
        <ng-icon
          name="ionLogoTwitter"
          size="24"
          class="text-secondary"
        ></ng-icon>
        <a
          target="_blank"
          [href]="osc.twitter"
          class="ml-1 text-sm underline"
          target="blank"
          >{{ osc.twitter }}</a
        >
      </div>
      <div class="flex items-center mb-2 text-primary" *ngIf="osc.siege">
        <img
          src="/assets/icons/map/pin-star.svg"
          alt=""
          width="22"
          height="22"
        />
        <span class="ml-1 text-sm">{{ osc.siege }}</span>
      </div>
    </div>
    <div class="py-4 border-b border-neutral-200">
      <h4 class="text-secondary font-bold mb-2">
        {{ "title.presentation" | translate }}
      </h4>
      <div [innerText]="osc.description" class="text-sm"></div>
    </div>
    <div class="py-4 border-b border-neutral-200" *ngIf="osc.zoneInterventions">
      <div class="flex items-center">
        <h4
          class="text-secondary font-bold mb-2 flex-1"
          [ngClass]="{
            'hover:cursor-pointer': osc.zoneInterventions.length > 4
          }"
          (click)="onToggleInterventionZones()"
        >
          {{ "title.intervention_zones" | translate }}
        </h4>
        <button
          class="text-primary"
          (click)="onToggleInterventionZones()"
          *ngIf="osc.zoneInterventions.length > 4"
        >
          <ng-icon
            [name]="
              showAllInterventionZones
                ? 'featherMinusSquare'
                : 'featherPlusSquare'
            "
            [strokeWidth]="3"
          ></ng-icon>
        </button>
      </div>
      <ng-container *ngIf="showAllInterventionZones">
        <div
          class="flex items-center mb-2"
          *ngFor="let zone of osc.zoneInterventions"
        >
          <ng-icon
            name="heroMapPinSolid"
            size="24"
            class="text-secondary"
          ></ng-icon>
          <span class="ml-1 text-sm">{{ zone.name }}</span>
        </div>
      </ng-container>
      <ng-container *ngIf="!showAllInterventionZones">
        <div
          class="flex items-center mb-2"
          *ngFor="let zone of osc.zoneInterventions.slice(0, 4)"
        >
          <ng-icon
            name="heroMapPinSolid"
            size="24"
            class="text-secondary"
          ></ng-icon>
          <span class="ml-1 text-sm">{{ zone.name }}</span>
        </div>
      </ng-container>
    </div>
    <div class="py-4 border-b border-neutral-200" *ngIf="osc.categorieOdds">
      <div class="flex items-center">
        <h4
          class="flex-1 text-secondary font-bold mb-2 hover:cursor-pointer"
          (click)="onToggleCategoriesDetails()"
        >
          {{ "title.sdgs" | translate }}
        </h4>
        <button class="text-primary" (click)="onToggleCategoriesDetails()">
          <ng-icon
            [name]="
              showCategoriesDetails ? 'featherMinusSquare' : 'featherPlusSquare'
            "
            [strokeWidth]="3"
          ></ng-icon>
        </button>
      </div>
      <div
        class="flex flex-wrap"
        [ngClass]="{ 'flex-col': showCategoriesDetails }"
      >
        <div
          class="flex-col mb-2 items-start inline-flex"
          *ngFor="let category of osc.categorieOdds"
        >
          <app-odd-category
            [category]="category"
            [unselectable]="false"
            [color]="colors[category.id_odd]"
            [title]="'title.click_to_see_description' | translate"
          ></app-odd-category>
          <div *ngIf="showCategoriesDetails && language ==='fr' " class="mb-2">
            {{ category.intitule }}
          </div>
          <div *ngIf="showCategoriesDetails && language ==='en' " class="mb-2">
            {{ category.name_en }}
          </div>
        </div>
      </div>
    </div>
    <div class="py-4 border-b border-neutral-200">
      <h4 class="text-secondary font-bold mb-2">
        {{ "title.similar_orgs" | translate }}
      </h4>
      <app-osc
        *ngFor="let similar of similarOscs.slice(0, similarOscsSlice)"
        [osc]="similar"
        (click)="selectOsc(similar)"
      ></app-osc>
      <div class="flex justify-center py-4">
        <button
          *ngIf="
            similarOscs.length > 0 && similarOscs.length !== similarOscsSlice
          "
          class="p-2 bg-accent text-primary text-xs font-extrabold rounded-lg uppercase"
          (click)="loadMoreOscs()"
        >
          {{ "button.search_more_similar_orgs" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
