<div class="mx-auto py-12 container max-w-[940px]">
  <section class="bg-white rounded-xl shadow-lg">
    <img src="/assets/images/about2.jpg" style="height: 300px;" alt="" class="w-full rounded-t-xl">
    <div class="p-12">
      <h2 class="mb-7 text-primary text-3xl font-bold text-center">Le projet de cartographie</h2>
      <p>Le programme de développement durable à l’horizon 2030 des Nations Unies (Agenda 2030) et ses
17 objectifs de développement durable (ODD) mettent en exergue des enjeux clefs qui appellent une
action urgente à tous les niveaux et par toutes les parties prenantes. Plus d’informations :
<a target="_blank" style="text-decoration: underline; text-align: center; color:blue" href="https://www.un.org/sustainabledevelopment/fr/objectifs-de-developpement-durable/">cliquez ici</a><br><br>
L’un des enjeux de sa mise en œuvre est notamment de mobiliser les acteurs dans toute leur
diversité, de porter l’ambition des ODD au cœur des populations et de les rendre assez tangibles
pour inciter toutes les parties prenantes à y contribuer. La société civile joue ici un rôle critique. <br><br>
Mais si les organisations de la société civile (OSC) sont déjà très engagées dans la mise en œuvre des
ODD, les plateformes existantes ont besoin d’un soutien stratégique pour favoriser la collaboration
et devenir des plateformes multipartites. <br><br>
A cet effet, un projet pilote de cartographie des organisations de la société civile (OSC) contribuant à
la mise en œuvre des ODD a été mis en œuvre dans deux pays d’Afrique de l’Ouest, le Bénin et le
Togo, dans le cadre du Forum Mondial des organes consultatifs nationaux sur les ODD, en partenariat
avec le Conseil allemand pour le développement durable (RNE - Rat für Nachaltige Entwicklung), la
Maison de la Société Civile (MdSC) au Bénin et le Groupe de Travail des Organisation de la Société
Civile sur les ODD (GT-OSC-ODD) au Togo. <br><br>
L’objectif principal est ici de favoriser la mise en réseau et d’améliorer la visibilité des efforts
organisationnels existants pour mettre en œuvre les ODD, en dressant un inventaire vérifié de toutes
les organisations de la société civile concernées au Bénin et au Togo. Bien que certaines organisations soient déjà connectées, il n’existe pas de vue d’ensemble exhaustive et vérifiée de
toutes les OSC engagées dans la mise en œuvre des ODD. Cette cartographie des organisations
renforcera les actions institutionnelles et les réseaux locaux en faveur du développement durable.
Cette visibilité accrue permettra également de mettre en évidence les liens entre les acteurs des
ODD et de développer ainsi des partenariats innovants pour une meilleure coordination et un
meilleur partage de connaissances.</p>

    </div>
  </section>

  <section class="mt-12 bg-white rounded-xl shadow-lg">
    <div class="p-12">
      <img class=" h-20"  src="/assets/images/a1.jpg" alt=""> <br>
      <h2 class="mb-7 text-primary text-3xl font-bold text-center">Groupe de Travail des Organisation de la Société Civile sur les ODD, Togo</h2>

      <p></p>

    </div>
  </section>

  <section class="mt-12 bg-white rounded-xl shadow-lg">
    <div class="p-12">
       <img class=" h-20"  src="/assets/images/a1.png" alt=""> <br>
      <h2 class="mb-7 text-primary text-3xl font-bold text-center">Maison de la Société Civile, Bénin</h2>

      <p>La Maison de la Société Civile (MdSC) est une organisation mise en place au Bénin avec pour objectif
majeur de contribuer à une implication eﬀective et efficace des Organisations de la Société Civile
(OSC) dans le processus de définition, de mise en œuvre, de suivi et d’évaluation des programmes et
politiques de développement. <br><br>
Créée officiellement en 2008, elle est apolitique, sans but lucratif et se veut un espace inclusif de
renforcement de capacités et de promotion au service de l’ensemble des OSC du Bénin et de leurs
partenaires. Elle a pour mission de renforcer les capacités des OSC pour accroître leur efficacité en
tant qu’acteurs de développement. Elle veut ainsi contribuer à instaurer une société à travers
laquelle les Organisations de la Société Civile (OSC) sont davantage impliquées dans les processus de
définition, de mise en œuvre, de suivi et d’évaluation des programmes et politiques de
développement. Elle est apolitique et sans but lucratif. <br><br>
Depuis 2009, elle a développé de l’expertise et des outils dans le renforcement et l’accompagnement
des Organisations de la Société Civile (OSC) en matière de planification stratégique, de suivi et
d’évaluation, d’élaboration de projets, de mobilisation de ressources, d’animation de la vie
associative, de gestion comptable – financière et fiscale des organisation, du management des
ressources humaines, du plaidoyer, de la négociation, de la capitalisation, de la redevabilité, de la
communication, etc. De 2017 à 2020, elle a coordonné avec l’appui de la coopération allemande, le
processus de production des rapports alternatifs sur la mise en œuvre de l’Agenda 2030 au Bénin. En
2018, elle a accompagné la mise en place de huit (8) pools thématiques structurés autour des ODD.</p>
    </div>
  </section>
</div>
