<div class="mx-auto py-12 container max-w-[940px]">
  <section class="bg-white rounded-xl shadow-lg">
    <img src="/assets/images/about-1.png" alt="" class="w-full rounded-t-xl">
    <div class="p-12">
      <h2 class="mb-7 text-primary text-3xl font-bold">À propos du Forum Mondial des organes consultatifs nationaux sur
        les ODD :</h2>
      <p>Le Forum Mondial est un réseau qui relie les connaissances et l'expérience des commissions consultatives
        multipartites, des conseils et des organes similaires pour le développement durable. Ces organes contribuent aux
        architectures institutionnelles nationales pour la mise en œuvre des objectifs de développement durable (ODD).
        En rapprochant les connaissances et les intérêts des différents groupes de parties prenantes, les organes
        consultatifs multipartites favorisent l'acceptation sociale et la cohésion de la société en période de
        transformation. La demande pour leur travail de facilitation des résultats des négociations ne peut être
        sous-estimée. Ce forum pour et par les organes consultatifs multipartites nationaux est aussi hétérogène que les
        contextes respectifs de ses membres, qui varient en conséquence dans leur développement institutionnel, leur
        mise en place, leur mandat et leur rôle. Les échanges constants au sein des groupes de travail et entre eux
        créent un riche marché d'idées, de mécanismes de négociation et de mesures politiques efficaces qui peuvent
        facilement être transférés et adaptés aux besoins et aux demandes locales ailleurs. En tant que réseau axé sur
        la demande, il évolue constamment dans les processus collectifs. Grâce à son riche réservoir de connaissances
        collectives, le forum invite efficacement les parties prenantes et les gouvernements du monde entier à adapter,
        mettre en œuvre et accélérer conjointement la réalisation de l'Agenda 2030 et des ODD.</p>

    </div>
  </section>

  <section class="mt-12 bg-white rounded-xl shadow-lg">
    <img src="/assets/images/about-2.png" alt="" class="w-full rounded-t-xl">
    <div class="p-12">
      <h2 class="mb-7 text-primary text-3xl font-bold">À propos du Conseil allemand pour le développement durable :</h2>
      <p>Le Conseil allemand pour le développement durable (Rat für Nachhaltige Entwicklung, RNE) conseille le
        gouvernement fédéral sur les questions de politique de développement durable. Il agit en cette qualité en tant
        qu'entité indépendante et, depuis 2001, ses membres sont nommés tous les trois ans par le gouvernement fédéral
        d’Allemagne. Le Conseil est composé de 15 personnalités publiques, comprenant des individus issus de la société
        civile, du secteur économique, de la communauté scientifique et de la sphère politique. Le Conseil mène
        également ses propres projets visant à faire avancer le thème de la durabilité sur le plan pratique. En outre,
        il contribue à donner une impulsion thématique au dialogue politique et sociétal. Le Conseil est soutenu dans
        ses activités par un bureau administratif basé à Berlin.</p>

    </div>
  </section>
</div>
