<div class="mx-auto py-12 container max-w-[940px]">
  <section class="bg-white rounded-xl shadow-lg">
    <img src="/assets/images/KIX-Afrique-21-Banniere.png" style="height: 350px;" alt="" class="w-full rounded-t-xl">
    <div class="p-12">
      <h2 class="mb-7 text-primary text-3xl font-bold text-center">À propos</h2>
      <p>KIX Carto est une plateforme de pointe conçue pour cartographier les connaissances et les
        innovations dans le secteur de l&#39;éducation. Ce projet d&#39;envergure est porté par le Centre KIX
        Afrique 21, dirigé par un consortium qui inclut l&#39;Agence universitaire de la Francophonie
        (AUF), la Conférence des ministres de l&#39;Éducation des États et gouvernements de la
        Francophonie (CONFEMEN), et l&#39;Organisation internationale de la Francophonie, opérant à
        travers l’Institut de la Francophonie pour l’éducation et la formation (IFEF - OIF), qui joue
        un rôle clé de coordination. <br><br>
        Destinée à stimuler la coopération et les échanges entre 21 pays d’Afrique subsaharienne, et
        éventuellement au-delà, KIX Carto facilite l&#39;exploration, le partage et la mise en valeur de
        pratiques éducatives novatrices. En centralisant un large éventail de ressources et de
        données, la plateforme devient un outil essentiel pour les décideurs, les chercheurs, les
        éducateurs et toutes les parties prenantes engagées dans l&#39;éducation et la formation.<br><br>
        Cette initiative illustre l&#39;engagement du Centre KIX Afrique 21 à promouvoir l&#39;amélioration
        de l&#39;éducation à travers l&#39;innovation et la collaboration internationale, s&#39;alignant sur les
        objectifs de développement durable des Nations Unies. KIX Carto est donc une ressource
        stratégique, favorisant une transformation éducative durable et significative dans la région.</p>

    </div>
  </section>
</div>
