<div id="map">
  <div id="scale-map"></div>
  <div id="mouse-position-map"></div>

  <div id="mly"></div>
  <div id="mapi"></div>

  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>

  <input id="swipe" type="range"
    style="background: transparent;width: 100%; z-index: 9999999999999999999999;  position: absolute;top: 45%;display: none;">

  <div id="setCoordOverlay" style="display:none">
    <button mat-mini-fab color="primary" matTooltip="Supprimer">
      <em class="fas fa-times fa-lg" style="color:#fff;display:none"></em>
    </button>
  </div>

  <div id="notifications">
    <div class="text-center" id="spinner_loading">
      <div class="lds-ripple">
        <div style="background-color: #fff;"></div>
        <div style="background-color: #fcfcfc;"></div>
      </div>
    </div>
  </div>

  <div id="coord_caracteristics" style="display:none;margin-top: -20px;margin-left: -20px;">
    <button mat-mini-fab color="primary" matTooltip="Fermer">
      <em class="fas fa-times fa-lg" style="color:#fff;display:none"></em>
      <em class="fas fa-dot-circle fa-lg" style="color:#fff;"></em>
    </button>
  </div>

  <div id="popup_mapillary" class="back_white popup">
    <div class="popover top"
      style="border-radius: 15px;display: block; top: -140px; left: -100px;text-align: center;padding: 6px;">
      <div class="arrow " style="left: 57%;"></div>
      <div class="popover-content" style="  padding: 0px;">
        <div class="ol-unselectable">
          <div>
            <img src="" id="img_mappilary" style="  height: 120px;width: 160px;  border-radius: 6px;" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
