<div class="flex flex-col items-center justify-center min-h-[calc(100vh-88px)]">
  <div class="bg-white p-4 w-80 md:w-96 rounded-md shadow-lg">
    <h1 class="mb-3 text-3xl text-primary font-bold">{{ 'title.app'|translate }}</h1>
    <h2 class="mb-5 text-xl text-primary font-bold">{{ 'title.reset_password'|translate }}</h2>
    <form [formGroup]="form" (submit)="onSubmit()" autocomplete="off" *ngIf="form && !completed" data-test-id="form">
      <p class="mb-3 text-red-500" *ngIf="errorMessage">{{ errorMessage }}</p>
      <div class="flex flex-col mb-4">
        <label for="login-email">{{ 'label.email'|translate }}</label>
        <input type="text" id="login-email" class="mt-1 mb-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-secondary focus:ring-opacity-50 disabled:bg-neutral-200 disabled:cursor-not-allowed" name="email" formControlName="email">
      </div>
      <div class="flex flex-col mb-4">
        <label for="reset-password1">{{ 'label.password'|translate }}</label>
        <input type="password" id="reset-password1" class="mt-1 mb-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-secondary focus:ring-opacity-50" name="password1" formControlName="password1">
        <small class="text-red-500 text-xs" *ngIf="hasError('password1', 'required')">
          {{ 'error.password_is_required'|translate }}
        </small>
      </div>
      <div class="flex flex-col mb-4">
        <label for="reset-password2">{{ 'label.confirm_password'|translate }}</label>
        <input type="password" id="reset-password2" class="mt-1 mb-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-secondary focus:ring-opacity-50" name="password2" formControlName="password2">
        <small class="text-red-500 text-xs" *ngIf="hasError('password2', 'required')">
          {{ 'error.password_confirmation_is_required'|translate }}
        </small>
        <small class="text-red-500 text-xs" *ngIf="hasError('password2', 'passwordsMatch', true)">
          {{ 'error.passwords_dont_match'|translate }}
        </small>
      </div>
      <div class="flex">
        <a routerLink="/auth/login" class="text-primary text-xs">{{ 'link.login'|translate }}</a>
        <button type="submit" class="px-4 py-2 ml-auto bg-primary text-white text-xs font-extrabold rounded-lg uppercase disabled:bg-secondary disabled:cursor-not-allowed" [disabled]="loading || !form?.valid">
          {{ 'button.reset_password'|translate }}</button>
      </div>
    </form>
    <div *ngIf="!form">
      <p>{{ 'text.invalid_reset_information'|translate }}</p>
    </div>

    <div *ngIf="completed">
      <div class="my-5 p-3 bg-secondary-light text-primary">
        <p class="flex items-center text-xs font-bold">
          <ng-icon name="hero-information-circle-solid" size="16"></ng-icon>
          <span class="ml-3">{{ 'text.password_changed'|translate }}</span>
        </p>
      </div>
      <div class="flex">
        <a routerLink="/auth/login" class="px-4 py-2 ml-auto bg-primary text-white text-xs font-extrabold rounded-lg uppercase">
          {{ 'link.login'|translate }}
        </a>
      </div>
    </div>
  </div>
</div>
