<div class="flex flex-col items-center justify-center min-h-[calc(100vh-88px)]">
  <form class="bg-white p-4 w-80 md:w-96 rounded-md shadow-lg" [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
    <h1 class="mb-3 text-3xl text-primary font-bold">{{ 'title.app'|translate }}</h1>
    <h2 class="mb-3 text-xl text-primary font-bold">{{ 'title.forgot_password'|translate }}</h2>
    <div *ngIf="!completed">
      <p class="mb-5">{{ 'text.enter_email_for_password_reset'|translate }}</p>
      <div class="flex flex-col mb-4">
        <label for="login-email">{{ 'label.email'|translate }}</label>
        <input type="text" id="login-email" class="mt-1 mb-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-secondary focus:ring-opacity-50" name="email" formControlName="email">
        <small class="text-red-500 text-xs" *ngIf="hasError('email', 'required')">
          {{ 'error.email_is_required'|translate }}
        </small>
        <small class="text-red-500 text-xs" *ngIf="hasError('email', 'email')">
          {{ 'error.email_is_invalid'|translate }}
        </small>
      </div>
      <div class="flex">
        <a routerLink="/auth/login" class="text-primary text-xs">{{ 'link.login'|translate }}</a>
        <button type="submit" class="px-4 py-2 ml-auto bg-primary text-white text-xs font-extrabold rounded-lg uppercase disabled:bg-secondary disabled:cursor-not-allowed" [disabled]="loading || !form.valid">{{
          'button.send_link'|translate }}</button>
      </div>
    </div>

    <div *ngIf="completed">
      <div class="my-5 p-3 bg-secondary-light text-primary">
        <p class="flex items-center text-xs font-bold">
          <ng-icon name="hero-information-circle-solid" size="16"></ng-icon>
          <span class="ml-3">{{ 'text.forgot_password_link_sent'|translate:{email: form.get('email')?.value} }}</span>
        </p>
      </div>
      <div class="flex">
        <a routerLink="/auth/login" class="px-4 py-2 ml-auto bg-primary text-white text-xs font-extrabold rounded-lg uppercase">
          {{ 'link.login'|translate }}
        </a>
      </div>
    </div>
  </form>
</div>
