<div class="flex p-2.5 mb-3 rounded-md shadow-md cursor-pointer" [ngClass]="{'bg-white': !selected, 'bg-primary': selected}">
  <div>
    <app-active-odds [ids]="osc.oddIds" [selected]="selected"></app-active-odds>
  </div>
  <div class="ml-3 max-w-[100%]">
    <h3 class="font-bold h-10 overflow-hidden text-sm" [ngClass]="{'text-primary': !selected, 'text-white': selected}">{{ osc.name }}</h3>
    <p class="text-xs h-16 overflow-hidden" [ngClass]="{'text-neutral-500': !selected, 'text-slate-200': selected}">{{ osc.description }}</p>
  </div>
</div>
