<div class="group static flex flex-col py-3 border-t border-neutral-200 cursor-pointer" [ngClass]="{'bg-primary -mx-2 px-2 rounded-lg': selected}" *ngIf="orgSdg">
  <div class="flex items-center">
    <img [src]="'/assets/logos/sdg/' + orgSdg.sdg.id + '.svg'" [alt]="orgSdg.sdg.name">
    <div class="ml-3">
      <h3 class="text-xs font-bold" [ngClass]="{'text-white': selected, 'text-primary': !selected}">{{ orgSdg.sdg.name }}</h3>
      <p *ngIf="orgSdg.orgsCount > 1" class="text-xs font-semibold lowercase" [ngClass]="{'text-neutral-300': selected, 'text-neutral-400': !selected}">
        <span *ngIf="orgSdg.orgsCount > 1">{{ orgSdg.orgsCount }} {{ 'text.organizations'|translate }}</span>
        <span *ngIf="orgSdg.orgsCount === 1">{{ orgSdg.orgsCount }} {{ 'text.organization'|translate }}</span>
      </p>
    </div>
  </div>
  <div class="flex items-center w-full h-8 mt-3 px-3 bg-white rounded-lg border-none" *ngIf="selected" (click)="toggleTargets()" cdkOverlayOrigin
  #trigger="cdkOverlayOrigin">
    <p class="mr-auto text-xs text-primary font-semibold">{{ 'text.all_goal_targets'|translate:{number: orgSdg.sdg.id} }}</p>
    <span class="w-0 h-0 border-l-4 border-l-transparent border-r-4 border-r-transparent border-t-4 border-t-primary"></span>
    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="showTargets" [cdkConnectedOverlayOffsetY]="-32" [cdkConnectedOverlayMinHeight]="300" [cdkConnectedOverlayPositions]="[]">
      <div class="fixed top-0 bottom-0 right-0 left-0 max-w-xl p-3 bg-white rounded-lg overflow-y-auto shadow-lg" *ngIf="showTargets">
        <div class="flex items-center pb-3 border-b border-b-primary">
          <input type="checkbox" checked class="text-primary focus:ring-primary" id="">
          <h4 class="ml-3 text-xs text-primary font-extrabold">{{ 'text.all_goal_targets'|translate:{number: orgSdg.sdg.id} }}</h4>
          <button class="flex items-center text-primary ml-auto" (click)="toggleTargets()">
            <ng-icon name="hero-x" size="24"></ng-icon>
          </button>
        </div>
        <ng-container *ngIf="targets.length !== 0">
          <div *ngFor="let target of targets" class="flex items-start py-3 border-b border-b-neutral-200">
            <input type="checkbox" checked [id]="target.id" class="text-primary focus:ring-primary">
            <label class="ml-3 text-primary text-xs" [for]="target.id">{{ target.id }} {{ target.title }}</label>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </div>
</div>
