<div
  class="fixed top-0 right-0 bottom-0 left-0 overflow-y-auto overflow-x-hidden"
>
  <div
    class="flex flex-col relative mt-24 py-7 px-5 sm:px-24 bg-white max-w-[80vw] sm:max-w-5xl mx-auto min-w-0 sm:min-w-[940px] rounded-lg"
  >
    <button
      class="flex items-center justify-center absolute right-0 sm:-right-16 -top-16 sm:top-0 w-10 h-10 rounded-md bg-white text-primary z-10"
      (click)="onCancel()"
    >
      <ng-icon name="heroXMarkSolid" size="24"></ng-icon>
    </button>
    <h3 class="mb-5 text-2xl text-primary text-center font-bold">
      {{ "title.terms" | translate }}
    </h3>
    <!-- <h4 class="mb-3 text-2xl text-primary font-medium uppercase">
      {{ "title.legal_mentions" | translate }}
    </h4> -->

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.site_editor" | translate }}
      </h5>
      <p>
        Bienvenue sur la plateforme KIX Carto, un outil de cartographie des connaissances et
        d&#39;innovations mobilisées par le Centre KIX Afrique 21 piloté par le consortium l&#39;Agence
        universitaire de la Francophonie (AUF), la Conférence des ministres de l&#39;Éducation des Etats
        et gouvernements de la Francophonie (CONFEMEN) et l&#39;Organisation internationale de la
        Francophonie, à travers l’Institut de la Francophonie pour l’éducation et la formation (IFEF -
        OIF), qui assure le rôle de Chef de file. Cette plateforme a pour objectif de faciliter la
        découverte, le partage et la valorisation des savoirs et des pratiques innovantes en éducation
        et formation dans 21 pays d’Afrique subsaharienne voire au-delà.
      </p>
      <br />
      <p>
        En utilisant la plateforme KIX Carto, vous acceptez les présentes conditions d&#39;utilisation (ci-
        après les &quot;Conditions&quot;). Veuillez lire attentivement ces Conditions avant de commencer à
        utiliser la plateforme. Si vous n&#39;acceptez pas ces Conditions, vous ne devez pas utiliser la
        plateforme.
      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.hosting" | translate }}
      </h5>
      <p> 
        <li>Plateforme : désigne le site web accessible à l&#39;adresse <a href="https://carto.kixafrique21.org"> <strong style="color: blue;"> https://carto.kixafrique21.org </strong> </a>
        et l&#39;ensemble des services, contenus et fonctionnalités proposés sur ce site</li>
      <li>Utilisateur : désigne toute personne physique ou morale qui accède à la plateforme
        et l&#39;utilise</li>
      <li>Contenu : désigne tout texte, image, vidéo, son ou autre élément mis à disposition
        sur la plateforme par les utilisateurs ou par le Centre KIX Afrique 21</li>
      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.acces" | translate }}
      </h5>
      <p>
        L&#39;accès à la plateforme est gratuit et ouvert à tous. L&#39;utilisateur n&#39;est pas tenu de créer un
        compte pour accéder à la plateforme, mais il peut le faire s&#39;il souhaite bénéficier de
        fonctionnalités supplémentaires.

      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.utilisation" | translate }}
      </h5>
      <p>
        L&#39;utilisateur s&#39;engage à utiliser la plateforme de manière responsable et conforme aux
        présentes Conditions. Il s&#39;interdit notamment :
        <li> de diffuser des contenus illégaux, haineux, discriminatoires, diffamatoires,
        menaçants, violents, pornographiques, pédophiles ou autrement nuisibles.</li>
        <li> d&#39;usurper l&#39;identité d&#39;une autre personne ou de diffuser de fausses informations.</li>
        <li> de diffuser des virus, vers ou autres logiciels malveillants.</li>
        <li> de tenter de pénétrer dans le système informatique de la plateforme ou de
        l&#39;endommager.</li>
        <li> de perturber le bon fonctionnement de la plateforme ou de l&#39;empêcher d&#39;être utilisée
        par d&#39;autres utilisateurs.</li>

      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.contenu" | translate }}
      </h5>
      <p>
        L&#39;utilisateur est responsable du contenu qu&#39;il diffuse sur la plateforme. Il s&#39;engage à respecter
        les droits de propriété intellectuelle des tiers et à ne diffuser que du contenu dont il a les
        droits ou l&#39;autorisation de diffuser.
        Le Centre KIX Afrique 21 se réserve le droit de supprimer tout contenu qu&#39;il juge illégal,
        inapproprié ou contraire aux présentes Conditions.

      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.property" | translate }}
      </h5>
      <p>
        La plateforme et son contenu sont protégés par les droits de propriété intellectuelle du
        Centre KIX Afrique 21 et de ses concédants de licence. L&#39;utilisateur n&#39;acquiert aucun droit
        de propriété intellectuelle sur la plateforme ou son contenu du fait de son utilisation de la
        plateforme.
        L&#39;utilisateur est autorisé à télécharger et à imprimer le contenu de la plateforme pour son
        usage personnel et non commercial. Il est interdit de reproduire, modifier, distribuer ou
        diffuser le contenu de la plateforme sans l&#39;autorisation écrite préalable du Centre KIX
        Afrique 21.
      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.policy" | translate }}
      </h5>
      <p>
        Le Centre KIX Afrique 21 s&#39;engage à respecter la confidentialité des données personnelles
        des utilisateurs de la plateforme, conformément aux normes de protection des données. Les
        informations recueillies servent exclusivement à fournir les fonctionnalités de la plateforme
        et à améliorer l&#39;expérience utilisateur.
        <br><br><b>Utilisation des données personnelles</b><br>
        Les données collectées sont principalement utilisées pour l&#39;accès à des outils spécifiques de
        la plateforme et ne sont jamais divulguées à des tiers sans votre accord, sauf si requis par la
        loi.
        <br><br><b>Sécurité</b><br>
        Des mesures de sécurité appropriées sont mises en place pour protéger les données
        personnelles contre les accès non autorisés.
        <br><br><b>Droits des utilisateurs</b><br>
        Les utilisateurs ont le droit d&#39;accéder à leurs données personnelles, de demander leur
        correction ou leur suppression. Ils peuvent exercer ces droits en contactant l&#39;adresse
        officielle du Centre.
        <br><br><b>Cookies</b><br>
        La plateforme utilise des cookies pour améliorer l&#39;interactivité et le suivi des visites. Les
        utilisateurs peuvent configurer leurs navigateurs pour bloquer les cookies, ce qui peut
        affecter certaines fonctionnalités du site.
      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.conditions" | translate }}
      </h5>
      <p>
        Ces conditions d&#39;utilisation peuvent être modifiées à tout moment pour refléter les
        évolutions de notre plateforme ou les changements dans la réglementation. Les utilisateurs
        sont invités à consulter régulièrement cette page pour rester informés de toute modification.
      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.responsability" | translate }}
      </h5>
      <p>
        Le Centre KIX Afrique 21 ne peut être tenu responsable des dommages directs ou indirects
        résultant de l&#39;utilisation de la plateforme, y compris, mais sans s&#39;y limiter, les dommages
        causés par :
        <li>le contenu diffusé sur la plateforme par les utilisateurs;</li>
        <li> des interruptions de service ou des dysfonctionnements de la plateforme;</li>
        <li> des virus ou autres logiciels malveillants qui pourraient infecter le système
        informatique de l&#39;utilisateur.</li>
        L&#39;utilisateur utilise la plateforme à ses propres risques et périls.
      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.liens" | translate }}
      </h5>
      <p>
        La plateforme peut contenir des liens vers d&#39;autres sites web ou services mis en place par le
        Centre KIX Afrique 21 ou non. L&#39;utilisateur utilise ces sites web ou services à ses propres
        risques et périls.
      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.modifications" | translate }}
      </h5>
      <p>
        Le Centre KIX Afrique 21 se réserve le droit de modifier les présentes Conditions à tout
        moment. Les utilisateurs seront informés de toute modification par courrier électronique ou
        par une notification sur la plateforme.
      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.loi" | translate }}
      </h5>
      <p>
        Les présentes Conditions sont régies par la loi sénégalaise. Tout litige relatif aux présentes
        Conditions sera soumis à la juridiction exclusive des tribunaux compétents.
      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.contacter" | translate }}
      </h5>
      <p>
        Pour toute question relative aux présentes Conditions, l&#39;utilisateur peut contacter le Centre à
        l’adresse  <a href="mailto:programmekix@francophonie.org" style="color: blue;">programmekix@francophonie.org</a>.
      </p>
    </div>

  </div>
</div>
