<div
  class="fixed top-0 right-0 bottom-0 left-0 overflow-y-auto overflow-x-hidden"
>
  <div
    class="flex flex-col relative mt-24 py-7 px-5 sm:px-24 bg-white max-w-[80vw] sm:max-w-5xl mx-auto min-w-0 sm:min-w-[940px] rounded-lg"
  >
    <button
      class="flex items-center justify-center absolute right-0 sm:-right-16 -top-16 sm:top-0 w-10 h-10 rounded-md bg-white text-primary z-10"
      (click)="onCancel()"
    >
      <ng-icon name="hero-x" size="24"></ng-icon>
    </button>
    <h3 class="mb-5 text-2xl text-primary text-center font-bold">
      {{ "title.terms" | translate }}
    </h3>
    <h4 class="mb-3 text-2xl text-primary font-medium uppercase">
      {{ "title.legal_mentions" | translate }}
    </h4>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.site_editor" | translate }}
      </h5>
      <p>
        Le site cartodd.francophonie.org est édité par l’Institut de la
        Francophonie pour le développement durable (IFDD), organe subsidiaire de
        l’Organisation internationale de la Francophonie (OIF).
      </p>
      <br />
      <p>
        L’OIF est une organisation internationale intergouvernementale ayant son
        siège au 19-21 avenue Bosquet – 75007 Paris – France. Tél : +33 (0)1 44
        37 33 00
      </p>
      <br />
      <p>
        Le siège de l’IFDD est situé au 200, chemin Sainte-Foy, bureau 1.40,
        Québec (Québec), G1R 1T3, Canada. Tél : +1-418-692-5727
      </p>
      <br />
      <p>
        Ce site a été réalisé par :
        <span style="font-weight: bold">GeOsm Family</span> situé à 542 Rue de
        Melen. Tel: +237 694 69 86 07
      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.hosting" | translate }}
      </h5>
      <p>
        Le site est hébergé par la compagnie :
        <a
          target="_blank"
          target="_blank"
          class="underline"
          href="https://ovhcloud.com"
          >OVH</a
        >
      </p>
    </div>

    <div class="mb-6">
      <h5 class="mb-3 text-xl uppercase font-medium text-primary">
        {{ "title.responsibility" | translate }}
      </h5>
      <p>
        Responsable éditorial : le Directeur / la Directrice de l’IFDD.
        <br /><br />
        Ni l’IFDD ni l’OIF ne peuvent, en aucun cas, être tenus pour
        responsables d’un préjudice, inconvénient et/ou dommage lié directement
        ou indirectement à la lecture, à la consultation et/ou à l’utilisation
        du présent site internet et/ou de son contenu. <br /><br />
        Ni l’IFDD ni l’OIF ne peuvent, en aucun, cas être tenus pour
        responsables du contenu de sites internet externes vers lesquels ils
        renvoient à travers des liens hypertextes. <br /><br />
        Voir aussi la Politique de confidentialité, plus bas. <br />
        <br />

        DROITS D’AUTEUR <br /><br />
        Les droits d’auteur sur les contenus de ce site web appartiennent à
        l’IFDD et à OIF (sauf mention explicite via un copyright). La
        reproduction sous quelque forme que ce soit de textes/photos/vidéos doit
        faire l’objet d’une demande préalable auprès de l’IFDD. <br />
        <br />

        <span style="font-weight: bold">© OIF/IFDD – Tous droits réservés</span
        ><br />
        <br />

        <span style="font-weight: bold; font-size: 20px"
          >POLITIQUE DE CONFIDENTIALITÉ</span
        >
        <br /><br />

        <span style="font-weight: bold">
          Conformément à l’article 12 de la Déclaration universelle des droits
          de l’homme et à l’article 14 du Pacte international relatif aux droits
          civils et politiques et dans le cadre de la résolution 68/167 de
          l’Assemblée générale des Nations unies du 30 juin 2014 sur le droit à
          la vie privée à l’ère du numérique, l’Organisation internationale de
          la Francophonie (OIF) s’engage en faveur d’une protection universelle
          des individus contre toute immixtion dans leur vie privée. <br />
          <br />
          Dès lors, l’IFDD garantit à tout individu utilisant le site
          internet cartodd.francophonie.org, la protection de ses données
          personnelles. <br />
          <br />
        </span>

        (Actualisé le 29/06/2022) <br />
        <br />
        <br />

        La présente politique (ci-après la « Politique ») présente les
        engagements de l’IFDD dans l’utilisation et la protection des données
        personnelles des internautes (ci-après les « Utilisateurs ») visitant le
        site accessible à partir de l’URL suivante :
        cartodd.francophonie.org (ci-après le « Site »). <br />
        <br />
        Cette Politique est susceptible d’être modifiée ou complétée à tout
        moment par l’IFDD, notamment en vue de se conformer à toute évolution de
        la
        <a
          target="_blank"
          href="https://www.francophonie.org/politique-de-confidentialite-512"
          class="underline"
          >Politique de confidentialité de l’OIF</a
        >
        , et à toute évolution juridique ou technologique en la matière. Dans un
        tel cas, la date de sa mise à jour sera clairement identifiée en tête de
        la Politique. Ces modifications engagent l’Utilisateur dès leur mise en
        ligne. Il convient par conséquent que l’Utilisateur consulte
        régulièrement la Politique afin de prendre connaissance de ses
        éventuelles modifications. <br />
        <br />
        <br />

        I. INFORMATIONS PERSONNELLES <br />
        <br />
        D’une manière générale, l’Utilisateur peut visiter le Site sans
        communiquer aucune information personnelle le concernant. En toute
        hypothèse, l’Utilisateur n’est en aucune manière obligé de transmettre
        d’informations à l’IFDD. <br />
        <br />
        Néanmoins, l’IFDD peut être amené dans certains cas à demander à
        l’Utilisateur de renseigner certaines données (ci-après les «
        Informations personnelles ») pour que celui-ci puisse bénéficier de
        certaines informations ou services demandés. En fournissant ces données,
        l’Utilisateur accepte expressément qu’elles soient traitées par l’IFDD,
        aux fins énoncées au point 3 ci-dessous. <br />
        <br />
        Conformément aux principes généraux du droit international en matière de
        respect du droit à la vie privée des personnes et plus particulièrement
        de protection des données personnelles, l’IFDD informe les Utilisateurs
        des points suivants : <br />
        <br />
        <br />

        1. Identité du responsable du traitement <br />
        <br />
        Le responsable du traitement est l’Institut de la Francophonie pour le
        développement durable (IFDD) ayant son siège au 200, chemin Sainte-Foy,
        bureau 1.40, Québec (Québec), G1R 1T3, Canada. <br />
        <br />
        Tél. : +1-418-692-5727 2. Quelles données ? <br />
        <br />
        L’IFDD est susceptible de recueillir les Informations personnelles
        suivantes. <br />
        <br />
        – votre identité <br />
        – vos coordonnées et celles de votre organisation <br />
        – les activités menées par votre organisation en matière de mise en
        œuvre des objectifs de développement durable <br />
        <br />

        L’IFDD est également amené à recueillir certaines données indirectement
        (voir ci-dessous : le paragraphe 2 sur la politique relative aux
        cookies) <br /><br /><br />

        3. Finalités du traitement <br />
        <br />
        L’IFDD est susceptible de traiter les Informations personnelles des
        Utilisateurs : <br />
        <br />
        * aux fins de fournir à l’Utilisateur un accès personnel à certains
        outils en ligne proposés sur le Site, <br />
        * aux fins de recueillir des informations permettant à l’IFDD
        d’effectuer des analyses statistiques et d’améliorer le Site, nos
        produits et services (notamment par le biais de cookies), <br />
        * afin de répondre à vos questions, demandes et suggestions, * aux fins
        de pouvoir contacter l’Utilisateur à propos de différents événements ou
        activités relatifs à l’IFDD, <br />
        * afin de fournir des informations aux organismes de réglementation
        lorsque la loi l’exige <br />

        4. Destinataires <br />
        <br />
        Seul l’IFDD est destinataire des Informations personnelles collectées
        sur les Utilisateurs. Celles-ci, que ce soit sous forme individuelle ou
        agrégée, ne sont jamais transmises à un tiers, nonobstant les
        sous-traitants auxquels l’IFDD peut faire appel, ainsi que les experts
        intervenant dans le traitement des dossiers de recrutement, d’appels
        d’offres et d’appels à projets, sous réserve de leur engagement à
        respecter la Politique. Ni l’IFDD, ni l’un quelconque de ses
        sous-traitants et experts, ne procèdent à la commercialisation des
        données personnelles des visiteurs et Utilisateurs de son Site. <br />
        <br />
        Cependant, l’utilisation de certaines fonctionnalités du site internet
        implique de remplir les formulaires correspondants et de fournir des
        données sur l’organisation ajoutée à la cartographie. Les coordonnées de
        contact de l’organisation sont mises à la disposition des utilisateurs
        du site sous forme d’annuaire. <br />
        <br />
        <br />

        5. Durée de conservation <br />
        <br />

        Les Informations personnelles collectées sur les Utilisateurs sont
        conservées par l’IFDD uniquement pour le temps correspondant à la
        finalité de la collecte, tel qu’indiqué au point 2 ci-dessus, qui ne
        saurait en tout état de cause excéder 15 ans. <br />
        <br />

        6. Droits Informatique et Libertés <br />
        <br />
        Les Utilisateurs disposent des droits suivants concernant leurs
        Informations personnelles, qui peuvent être exercés en écrivant à l’IFDD
        à l’adresse postale mentionnée au point 1, à l’adresse de courriel
        <a
          target="_blank"
          href="maito:objectif2030@francophonie.org"
          class="underline"
        >
          objectif2030@francophonie.org.</a
        >
        <br />
        <br />

        — Droit d’accès et de communication des données <br />
        <br />
        Tout Utilisateur a la faculté d’accéder aux Informations personnelles le
        concernant. Cependant, en raison de l’obligation de sécurité et de
        confidentialité dans le traitement des données à caractère personnel qui
        incombe à l’IFDD, l’Utilisateur est informé que sa demande sera traitée
        sous réserve qu’il soit en mesure de rapporter la preuve de son
        identité, notamment par la production d’un scan de son titre d’identité
        valide (en cas de demande par le formulaire électronique de l’IFDD
        dédié) ou d’une photocopie signée de son titre d’identité valide (en cas
        de demande adressée par écrit). <br />
        <br />
        L’IFDD informe l’Utilisateur qu’il sera en droit, le cas échéant, de
        s’opposer aux demandes manifestement abusives (de par leur nombre, leur
        caractère répétitif ou systématique). <br />
        <br />
        Pour aider l’Utilisateur dans sa démarche, l’IFDD fournit à travers le
        lien suivant, un modèle de courrier élaboré par la Commission nationale
        de l’informatique et des libertés française (la « CNIL ») dont
        l’Utilisateur peut s’inspirer pour effectuer sa demande :
        <a
          target="_blank"
          href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces"
          class="underline"
          >https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a
        >
        <br />
        <br />

        — Droit de rectification des données <br />
        <br />
        L’Utilisateur peut demander à l’IFDD, la rectification, la mise à jour,
        le verrouillage ou encore l’effacement des données le concernant qui
        peuvent s’avérer, le cas échéant, inexactes, erronées, incomplètes ou
        obsolètes. <br />
        <br />

        L’Utilisateur peut également définir des directives générales et
        particulières relatives au sort de ses données à caractère personnel
        après son décès. Le cas échéant, les héritiers peuvent exiger de prendre
        en considération le décès de leur proche et/ou de procéder aux mises à
        jour nécessaires concernant ses Informations personnelles détenues par
        l’IFDD. <br />
        <br />
        Pour aider l’Utilisateur ou un proche d’un Utilisateur décédé dans sa
        démarche, notamment dans l’exercice du droit de rectification, l’IFDD
        fournit à travers le lien suivant, un modèle de courrier élaboré par la
        CNIL, dont l’Utilisateur peut s’inspirer pour effectuer sa demande :
        <a
          target="_blank"
          href="https://www.cnil.fr/fr/modele/courrier/rectifier-des-donnees-inexactes-
obsoletes-ou-perimees"
          class="underline"
          >https://www.cnil.fr/fr/modele/courrier/rectifier-des-donnees-inexactes-
          obsoletes-ou-perimees</a
        >
        <br />
        <br />
        <br />

        — Droit d’opposition <br />
        <br />
        L’Utilisateur ne peut prétendre à l’exercice de ce droit que dans l’une
        des deux situations suivantes : <br />
        <br />
        Lorsque l’exercice de ce droit est fondé sur des motifs légitimes ;
        <br />
        Lorsque l’exercice de ce droit vise à faire obstacle à ce que les
        données recueillies soient utilisées à des fins de prospection
        commerciale. Pour aider l’Utilisateur dans sa démarche, notamment dans
        l’exercice du droit d’opposition, l’IFDD fournit à travers le lien
        suivant, un modèle de courrier élaboré par la CNIL dont l’Utilisateur
        peut s’inspirer pour effectuer sa demande :
        <a
          target="_blank"
          href="https://www.cnil.fr/fr/modele/courrier/supprimer-des-informations-
vous-concernant-dun-site-internet"
          class="underline"
          >https://www.cnil.fr/fr/modele/courrier/supprimer-des-informations-
          vous-concernant-dun-site-internet</a
        >
        <br />
        <br />

        7. Délais de réponse <br />
        <br />
        L’IFDD s’engage à répondre à la demande d’accès, de rectification ou
        d’opposition d’un Utilisateur ou à toute autre demande complémentaire
        d’informations, dans un délai raisonnable qui ne saurait dépasser 1 mois
        à compter de la date de réception de la demande. <br />
        <br />

        II. POLITIQUE RELATIVE AUX COOKIES <br />
        <br />
        La politique d’utilisation des cookies de l’IFDD a pour but d’établir
        les dispositions mises en œuvre en matière de navigation sur le Site et
        notamment d’informer les Utilisateurs sur l’ensemble des cookies
        présents sur le Site, leur finalité (partie 1.) et les démarches à
        suivre pour les paramétrer (partie 2.). <br />
        <br />
        <br />

        1. Informations générales sur les cookies présents sur le Site <br />
        <br />
        L’IFDD, en tant qu’éditeur du Site, pourra procéder à l’implantation
        d’un cookie sur le disque dur du terminal (ordinateur, tablette, mobile
        etc.) de l’Utilisateur afin de garantir une navigation fluide et
        optimale sur le Site. <br />
        <br />
        Les « cookies » (ou témoins de connexion) sont des petits fichiers texte
        de taille limitée qui permettent de reconnaître l’ordinateur, la
        tablette ou le mobile de l’Utilisateur aux fins de personnaliser les
        services proposés. <br />
        <br />
        Les informations recueillies par le biais des cookies ne permettent en
        aucune manière d’identifier nominativement un Utilisateur. Elles sont
        utilisées exclusivement pour les besoins interne de l’IFDD dans le but
        d’améliorer l’interactivité et la performance du Site et d’adresser aux
        Utilisateurs des contenus adaptés à leurs centres d’intérêts, en
        fonction de leurs précédentes visites. Aucune de ces informations ne
        fait l’objet d’une communication auprès de tiers sauf lorsque l’IFDD a
        obtenu au préalable le consentement de l’Utilisateur concerné ou bien
        lorsque la divulgation de ces informations est requise par la loi, sur
        ordre d’un tribunal ou toute autorité administrative ou judiciaire
        habilitée à en connaître, et que l’IFDD en accepte la compétence. <br />
        <br />

        2. Configuration de vos préférences sur les cookies <br />
        <br />
        L’Utilisateur peut accepter ou refuser le dépôt de cookies à tout
        moment. <br />
        <br />
        Selon le type de cookie en cause, le recueil du consentement de
        l’Utilisateur au dépôt et à la lecture de cookies sur son terminal peut
        être impératif. <br />
        <br />
        a. Les cookies exemptés de consentement <br />
        <br />
        Certains cookies sont dispensés du recueil préalable du consentement de
        l’Utilisateur dans la mesure où ils sont strictement nécessaires au
        fonctionnement du Site ou ont pour finalité exclusive de permettre ou
        faciliter la communication par voie électronique. Il s’agit notamment
        des cookies d’identifiant de session, d’authentification, de session
        d’équilibrage de charge ainsi que des cookies de personnalisation
        d’interface. Ces cookies sont intégralement soumis à la Politique dans
        la mesure où ils sont émis et gérés par l’IFDD. <br />
        <br />
        b. Les cookies nécessitant le recueil préalable du consentement de
        l’Utilisateur <br />
        <br />
        Le recueil du consentement de l’Utilisateur est exigé dans le cas de
        cookies émis par des tiers et qui sont qualifiés de « persistants » dans
        la mesure où ils demeurent dans le terminal de l’Utilisateur jusqu’à
        leur effacement ou leur date d’expiration. <br />
        <br />
        De tels cookies étant émis par des tiers, leur utilisation et leur dépôt
        sont soumis à leurs propres politiques de confidentialité. Cette famille
        de cookie regroupe les cookies de mesure d’audience (notamment Google
        Analytics), les cookies publicitaires (auxquels l’IFDD n’a pas recours)
        ainsi que les cookies de partage de réseaux sociaux (notamment de
        Facebook, YouTube, Twitter et LinkedIn). <br />
        <br />
        Les cookies de mesure d’audience établissent des statistiques concernant
        la fréquentation et l’utilisation de divers éléments du Site (comme les
        contenus/pages visités). Ces données participent à l’amélioration de
        l’ergonomie du Site. <br />
        <br />
        L’outil de mesure d’audience utilisé sur le Site est le suivant : Google
        Analytics dont la politique de confidentialité est disponible à partir
        du lien :
        <a
          target="_blank"
          href="https://www.google.com/analytics/learn/privacy.html?hl=fr"
          class="underline"
          >https://www.google.com/analytics/learn/privacy.html?hl=fr</a
        >
        <br />
        <br />

        c. Outils de paramétrage des cookies <br />
        <br />
        La plupart des navigateurs Internet sont configurés par défaut de façon
        à ce que le dépôt de cookies soit autorisé. Tout navigateur offre
        l’opportunité de modifier ces paramètres standards de manière à ce que
        l’ensemble des cookies soit rejeté systématiquement ou bien à ce qu’une
        partie seulement des cookies soit acceptée ou refusée en fonction de
        leur émetteur. <br />
        <br />
        ATTENTION : L’IFDD attire l’attention des Utilisateurs sur le fait que
        le refus du dépôt de cookies sur un terminal est néanmoins susceptible
        d’altérer l’expérience utilisateur ainsi que l’accès à certains services
        ou fonctionnalités du Site. Le cas échéant, l’IFDD décline toute
        responsabilité concernant les conséquences liées à la dégradation des
        conditions de navigation qui interviendraient en raison du choix de
        l’Utilisateur de refuser, supprimer ou bloquer les cookies nécessaires
        au fonctionnement du Site. <br />
        Ces conséquences ne sauraient constituer un dommage ouvrant droit à une
        quelconque indemnité de ce fait. <br />
        <br />
        Le navigateur de l’Utilisateur permet également de supprimer les cookies
        existants sur son terminal ou encore de signaler lorsque de nouveaux
        cookies sont susceptibles d’être déposés sur le terminal. Ces
        paramétrages n’ont pas d’incidence sur la navigation mais font perdre
        tout le bénéfice apporté par le cookie. <br />
        <br />
        <br />

        d. Paramétrage de navigateur Internet <br />
        <br />
        Chaque navigateur Internet propose ses propres paramètres de gestion des
        cookies. Pour savoir de quelle manière modifier vos préférences en
        matière de cookies, vous trouverez ci-dessous les liens vers l’aide
        nécessaire pour accéder au menu de votre navigateur prévu à cet effet :
        <br />
        <br />
        Chrome :
        <a
          target="_blank"
          href="https://support.google.com/chrome/answer/95647?hl=fr"
          class="underline"
          >https://support.google.com/chrome/answer/95647?hl=fr</a
        >
        <br />
        Firefox :
        <a
          target="_blank"
          href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies"
          >https://support.mozilla.org/fr/kb/activer-desactiver-cookies</a
        >
        <br />
        Internet Explorer :
        <a
          target="_blank"
          href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-
explorer-delete-manage-cookies#ie=ie-11"
          class="underline"
        >
          https://support.microsoft.com/fr-fr/help/17442/windows-internet-
          explorer-delete-manage-cookies#ie=ie-11</a
        >
        <br />
        Opera :
        <a
          target="_blank"
          href="http://help.opera.com/Windows/10.20/fr/cookies.html"
          class="underline"
          >http://help.opera.com/Windows/10.20/fr/cookies.html</a
        >
        <br />
        Safari :
        <a
          target="_blank"
          href="https://support.apple.com/kb/PH21411?viewlocale=fr_FR&amp;locale=fr_FR"
          class="underline"
          >https://support.apple.com/kb/PH21411?viewlocale=fr_FR&amp;locale=fr_FR</a
        >
        <br />
        <br />

        Pour de plus amples informations concernant les outils de maîtrise des
        cookies, vous pouvez consulter le site internet de la CNIL :
        <a
          target="_blank"
          class="underline"
          href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser."
          >https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser.</a
        >
      </p>
    </div>
  </div>
</div>
