<!-- Début du menu fixe -->
  <section class="ftco-section" class="collapse navbar-collapse justify-content-center" id="ftco-nav" class="fixed top-0 left-0 right-0 shadow-lg z-20">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div>
          <ul class="navbar-nav" style="justify-content: center;">
            <li class="nav-item"><a href="https://kixafrique21.org" class="nav-link">ACCUEIL</a></li>
            <li class="nav-item"><a href="https://agora.kixafrique21.org" class="nav-link">KIX AGORA</a></li>
            <li class="nav-item active"><a href="https://carto.kixafrique21.org" class="nav-link">KIX CARTO</a></li>
            <li class="nav-item"><a href="https://renfo.kixafrique21.org" class="nav-link">KIX renfo</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.navbar-toggler').click(function () {
        $('.navbar-collapse').toggleClass('show');
      });
    });
  </script>
  <!-- Fin du menu -->
<!-- Début de la Navbar Fixe -->
<div class="fixed top-14 left-0 right-0 flex flex-col md:flex-row shadow-lg bg-white z-40">
  <div class="flex flex-row md:hidden h-11">
    <button
      class="flex items-center px-3 text-secondary"
      (click)="openSidebar()"
    >
      <ng-icon name="heroBars3Solid" size="24"></ng-icon>
    </button>
    <app-search-bar
      [isFull]="false"
      class="flex-1 flex items-center"
      (selected)="onPlaceSelected($event)"
    ></app-search-bar>
    <button
      class="flex items-center px-3 text-secondary border-l border-black border-opacity-10"
      [appMenuTriggerFor]="userMenuMobile"
      xPosition="after"
    >
      <ng-icon name="heroUserSolid" size="24"></ng-icon>
    </button>
    <app-menu #userMenuMobile>
      <button
        class="py-2 px-4 text-left hover:bg-slate-100"
        (click)="logout()"
        *ngIf="isAuthenticated()"
      >
        {{ "button.logout" | translate }}
      </button>
      <a
        routerLink="/auth/login"
        class="py-2 px-4 text-left hover:bg-slate-100"
        *ngIf="!isAuthenticated()"
        >{{ "button.login" | translate }}</a
      >
    </app-menu>
  </div>
  <div
    class="block md:hidden fixed top-0 left-0 right-0 bottom-0 bg-black opacity-20"
    *ngIf="sidebarVisible"
    (click)="closeSidebar()"
  ></div>
  <div
    class="md:relative -translate-x-60 fixed md:translate-x-0 top-0 bottom-0 left-0 flex flex-col md:flex-row flex-1 w-60 md:w-auto md:h-20 bg-white shadow-lg md:px-5 transition-transform duration-300"
    [ngClass]="{ 'translate-x-0': sidebarVisible }"
  >
    <div
      class="flex flex-col md:flex-row items-center pl-4 md:p-0 after:hidden after:md:block after:h-3/4 after:mx-3 after:w-0.5 after:bg-slate-200"
    >
      <div class="flex">
        <a
          target="_blank"
          href="https://kixafrique21.org//"
          class="pr-0 pt-2 md:pt-0"
          target="_blank"
          rel="noopener"
        >
          <img
            src="/assets/logos/IFDD-CourtFondTransparent.png"
            [alt]="'alt.logo_kix' | translate"
            width="300"
          />
        </a>
        <button
          class="flex items-center md:hidden px-4 py-2 text-primary"
          (click)="closeSidebar()"
        >
          <ng-icon name="heroXMarkSolid" size="24"></ng-icon>
        </button>
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row flex-1 justify-between p-8 md:p-0 bg-primary md:bg-white"
    >
      <h1
        class="hidden md:flex items-center w-60 text-xs xl:text-sm text-primary font-bold"
      >
        {{ "title.civil_organization_map" | translate }}
      </h1>
      <nav class="flex flex-col md:flex-row">
        <a
          [routerLink]="item.link"
          *ngFor="let item of menuItems"
          (click)="closeSidebar()"
          class="flex flex-row md:flex-col 2xl:flex-row whitespace-nowrap justify-center text-center items-center mb-3 md:mb-0 text-base sm:text-[.7rem] xl:text-[13px] font-extrabold sm:pl-1 sm:pr-3 px-4 sm:px-0 md:px-4 py-4 sm:py-0.5 md:py-0 uppercase hover:bg-primary hover:text-white focus:bg-primary focus:text-white bg-white rounded-lg md:rounded-none"
          [ngClass]="{
            'text-primary md:bg-primary md:text-white': item.active,
            'text-primary md:text-secondary': !item.active
          }"
          [attr.aria-label]="item.label"
        >
          <img
            [src]="item.image"
            [alt]="item.label"
            *ngIf="!item.active"
            width="44"
            height="44"
            class="w-6 xl:w-12"
          />
          <img
            [src]="item.activeImage"
            [alt]="item.label"
            *ngIf="item.active"
            width="44"
            height="44"
            class="w-6 xl:w-12"
          />
          <span class="" style="font-size: 11px;">{{ item.label }}</span>
          <span class="inline-flex md:hidden ml-auto">
            <ng-icon
              name="heroArrowRightSolid"
              strokeWidth="3"
              size="18"
              class="text-accent"
            ></ng-icon>
          </span>
        </a>
      </nav>
      <div
        class="md:hidden flex flex-col text-center items-center text-secondary text-xs font-bold"
      >
        <button class="" (click)="showTerms()">
          {{ "button.terms_of_use" | translate }}
        </button>
        <button
          class="flex items-center text-secondary"
          [appMenuTriggerFor]="languageMenu"
          xPosition="after">
          <ng-icon name="heroLanguageSolid" size="24">EN/FR</ng-icon>
          <span *ngIf="language === 'en'">English</span>
          <span *ngIf="language === 'fr'">Français</span>
        </button>
      </div>
      <div class="hidden md:flex items-center ml-4">
        <button
          class="flex items-center px-2 xl:px-4 text-secondary"
          [appMenuTriggerFor]="languageMenu"
          xPosition="after"
        >
        <span style="font-weight: bold; font-size: 11px;">FR/EN</span>
          <!-- <ng-icon name="heroLanguageSolid" size="24">FR/EN</ng-icon> -->
        </button>
        <app-menu #languageMenu>
          <button
            class="py-2 px-4 text-left hover:bg-slate-100"
            (click)="changeLanguage('fr')"
          >
            Français
          </button>
          <button
            class="py-2 px-4 text-left hover:bg-slate-100"
            (click)="changeLanguage('en')"
          >
            English
          </button>
        </app-menu>
        <a
          [routerLink]="'/auth/register'"
          class="px-2 xl:px-4 py-2 bg-accent text-primary xl:text-xs text-[.7rem] font-extrabold rounded-lg uppercase"
          *ngIf="!isAuthenticated()"
          >{{ "button.register" | translate }}</a
        >
        <a
          [routerLink]="'/auth/login'"
          class="px-2 xl:px-4 py-2 ml-4 bg-secondary-light text-primary xl:text-xs text-[.7rem] font-extrabold rounded-lg uppercase"
          *ngIf="!isAuthenticated()"
          >{{ "button.login" | translate }}</a
        >
      </div>
      <div class="hidden md:flex items-center ml-4" *ngIf="isAuthenticated()">
        <button
          type="button"
          class="md:flex items-center mr-5 hidden text-primary text-xs hover:text-secondary focus:text-secondary font-bold uppercase"
          (click)="onAdd()"
          [attr.arial-label]="'button.add_innovation' | translate"
        >
          <ng-icon name="heroPlusSolid" size="16" strokeWidth="3"></ng-icon>
          <span
            class="ml-1 inline-flex md:hidden xl:inline-flex"
            style="font-size: 10px"
            >{{ "button.add_innovation" | translate }}</span
          >
        </button>
        <button
          type="button"
          class="flex items-center text-primary hover:text-secondary focus:text-secondary"
          [appMenuTriggerFor]="userMenu"
          xPosition="after"
          [attr.aria-label]="user?.name"
        >
          <ng-icon name="heroUserSolid" size="24"></ng-icon>
        </button>
        <app-menu #userMenu>
          <button
            class="py-2 px-4 text-left hover:bg-slate-100"
            (click)="logout()"
          >
            {{ "button.logout" | translate }}
          </button>
        </app-menu>
      </div>
    </div>
  </div>
</div>

<style>
  /* Bootstrap v4.3.1 (https://getbootstrap.com/) */
  :root {
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }

  .nav-link:hover,
  .nav-link:focus {
    text-decoration: none;
  }

  .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }

  .navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
  }

  .navbar-light .navbar-brand:hover,
  .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9);
  }

  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
  }

  .navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
  }

  .navbar-light .navbar-nav .show>.nav-link,
  .navbar-light .navbar-nav .active>.nav-link,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
  }

  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.5);
  }

  .navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9);
  }

  .navbar-light .navbar-text a:hover,
  .navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.9);
  }

  .navbar-dark .navbar-brand {
    color: #fff;
  }

  .navbar-dark .navbar-brand:hover,
  .navbar-dark .navbar-brand:focus {
    color: #fff;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }

  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
  }

  .navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
  }

  .navbar-dark .navbar-nav .show>.nav-link,
  .navbar-dark .navbar-nav .active>.nav-link,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
  }

  .navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5);
  }

  .navbar-dark .navbar-text a {
    color: #fff;
  }

  .navbar-dark .navbar-text a:hover,
  .navbar-dark .navbar-text a:focus {
    color: #fff;
  }

  /* Styles pour le menu */
  .ftco-navbar-light {
    background: #fdcd01 !important;
    z-index: 3;
    padding: 0;
    position: sticky !important;
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 14px;
    padding: 1.5rem 20px;
    font-weight: 800;
    color: #062172;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    opacity: 1 !important;
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #062172;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
    z-index: -1;
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #fff;
    font-weight: bold;
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:before {
    visibility: visible;
    background-color: #062172;
    transform: scaleX(1);
  }

  .ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #fff;
    font-weight: bold;
  }

  .ftco-navbar-light .navbar-nav>.nav-item.active>a:before {
    visibility: visible;
    background-color: #062172;
    transform: scaleX(1);
  }

  body {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #fafafa;
    color: gray;
  }

  .ftco-section {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    width: 100%;
    justify-content: center;
  }

  .ftco-navbar-light {
    background: #fdcd01 !important;
    z-index: 3;
    padding: 0;
  }

  @media (max-width: 991.98px) {
    .ftco-navbar-light {
      background: #fdcd01 !important;
      position: relative;
      top: 0;
      padding: 10px 15px;
    }
  }

  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
      padding-bottom: 10px;
    }
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 11px;
    padding: 1.5rem 20px;
    font-weight: 800;
    color: #062172;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    opacity: 1 !important;
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #062172;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
    z-index: -1;
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #fff;
    font-weight: bold;
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:before {
    visibility: visible;
    background-color: #062172;
    transform: scaleX(1);
  }

  .ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #fff;
    font-weight: bold;
  }

  .ftco-navbar-light .navbar-nav>.nav-item.active>a:before {
    visibility: visible;
    background-color: #062172;
    transform: scaleX(1);
  }

  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
      /* padding-left: 0;
      padding-right: 0;
      padding-top: .9rem;
      padding-bottom: .9rem; */
      color: rgba(163, 22, 22, 0.7);
    }

    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
      color: #062172;
    }

    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:before {
      display: none;
    }
  }

  .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
    border: none;
    background: #fff;
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    border-radius: 4px;
  }

  .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
    font-size: 12px;
    color: #000;
  }

  .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:hover,
  .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:focus {
    background: none;
    color: #fff;
  }

  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
      display: block !important;
      background: #000;
    }

    .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff;
    font-weight: bold;
    background-color: #062172;
    border-radius: 0px;
  }

  @media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
      color: #fff;
      background: none;
      border-radius: 4px;
    }
  }

  .ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #fff;
    font-weight: bold;
  }

  .ftco-navbar-light .navbar-nav>.nav-item.active>a:before {
    visibility: visible;
    background-color: #062172;
    transform: scaleX(1);
  }

  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.active>a {
      color: #062172;
      font-weight: bold;
    }

    .ftco-navbar-light .navbar-nav>.nav-item.active>a:before {
      display: none;
    }
  }

  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
  }

  .ftco-navbar-light .navbar-toggler:focus {
    outline: none !important;
  }
</style>