<div
  class="fixed top-0 left-0 right-0 flex flex-col md:flex-row shadow-lg bg-white z-20"
>
  <div class="flex flex-row md:hidden h-11">
    <button
      class="flex items-center px-3 text-secondary"
      (click)="openSidebar()"
    >
      <ng-icon name="heroBars3Solid" size="24"></ng-icon>
    </button>
    <app-search-bar
      [isFull]="false"
      class="flex-1 flex items-center"
      (selected)="onPlaceSelected($event)"
    ></app-search-bar>
    <button
      class="flex items-center px-3 text-secondary border-l border-black border-opacity-10"
      [appMenuTriggerFor]="userMenuMobile"
      xPosition="after"
    >
      <ng-icon name="heroUserSolid" size="24"></ng-icon>
    </button>
    <app-menu #userMenuMobile>
      <button
        class="py-2 px-4 text-left hover:bg-slate-100"
        (click)="logout()"
        *ngIf="isAuthenticated()"
      >
        {{ "button.logout" | translate }}
      </button>
      <a
        routerLink="/auth/login"
        class="py-2 px-4 text-left hover:bg-slate-100"
        *ngIf="!isAuthenticated()"
        >{{ "button.login" | translate }}</a
      >
    </app-menu>
  </div>
  <div
    class="block md:hidden fixed top-0 left-0 right-0 bottom-0 bg-black opacity-20"
    *ngIf="sidebarVisible"
    (click)="closeSidebar()"
  ></div>
  <div
    class="md:relative -translate-x-60 fixed md:translate-x-0 top-0 bottom-0 left-0 flex flex-col md:flex-row flex-1 w-60 md:w-auto md:h-20 bg-white shadow-lg md:px-5 transition-transform duration-300"
    [ngClass]="{ 'translate-x-0': sidebarVisible }"
  >
    <div
      class="flex flex-col md:flex-row items-center pl-4 md:p-0 after:hidden after:md:block after:h-3/4 after:mx-3 after:w-0.5 after:bg-slate-200"
    >
      <div class="flex">
        <a
          target="_blank"
          href="https://kixafrique21.org//"
          class="pr-0 pt-2 md:pt-0"
          target="_blank"
          rel="noopener"
        >
          <img
            src="/assets/logos/IFDD-CourtFondTransparent.png"
            [alt]="'alt.logo_kix' | translate"
            width="300"
          />
        </a>
        <button
          class="flex items-center md:hidden px-4 py-2 text-primary"
          (click)="closeSidebar()"
        >
          <ng-icon name="heroXMarkSolid" size="24"></ng-icon>
        </button>
      </div>
      <!-- <a
        target="_blank"
        href="https://www.francophonie.org//"
        class="pr-0 ml-auto md:ml-0"
        target="_blank"
        rel="noopener"
      >
        <img
          src="/assets/logos/oif.svg"
          [alt]="'alt.logo_oif' | translate"
          width="150"
        />
      </a>
      <a
        target="_blank"
        href="https://ifef.francophonie.org/"
        class="pr-3 mr-auto md:mr-0"
        target="_blank"
        rel="noopener"
      >
        <img src="/assets/logos/sdg.png" [alt]="'alt.logo_sdg' | translate" />
      </a> -->
    </div>
    <div
      class="flex flex-col md:flex-row flex-1 justify-between p-8 md:p-0 bg-primary md:bg-white"
    >
      <h1
        class="hidden md:flex items-center w-60 text-xs xl:text-sm text-primary font-bold"
      >
        {{ "title.civil_organization_map" | translate }}
      </h1>
      <nav class="flex flex-col md:flex-row">
        <a
          [routerLink]="item.link"
          *ngFor="let item of menuItems"
          (click)="closeSidebar()"
          class="flex flex-row md:flex-col 2xl:flex-row whitespace-nowrap justify-center text-center items-center mb-3 md:mb-0 text-base sm:text-[.7rem] xl:text-[13px] font-extrabold sm:pl-1 sm:pr-3 px-4 sm:px-0 md:px-4 py-4 sm:py-0.5 md:py-0 uppercase hover:bg-primary hover:text-white focus:bg-primary focus:text-white bg-white rounded-lg md:rounded-none"
          [ngClass]="{
            'text-primary md:bg-primary md:text-white': item.active,
            'text-primary md:text-secondary': !item.active
          }"
          [attr.aria-label]="item.label"
        >
          <img
            [src]="item.image"
            [alt]="item.label"
            *ngIf="!item.active"
            width="44"
            height="44"
            class="w-6 xl:w-12"
          />
          <img
            [src]="item.activeImage"
            [alt]="item.label"
            *ngIf="item.active"
            width="44"
            height="44"
            class="w-6 xl:w-12"
          />
          <span class="">{{ item.label }}</span>
          <span class="inline-flex md:hidden ml-auto">
            <ng-icon
              name="heroArrowRightSolid"
              strokeWidth="3"
              size="18"
              class="text-accent"
            ></ng-icon>
          </span>
        </a>
      </nav>
      <div
        class="md:hidden flex flex-col text-center items-center text-secondary text-xs font-bold"
      >
        <button class="" (click)="showTerms()">
          {{ "button.terms_of_use" | translate }}
        </button>
        <button
          class="flex items-center text-secondary"
          [appMenuTriggerFor]="languageMenu"
          xPosition="after">
          <ng-icon name="heroLanguageSolid" size="24"></ng-icon>
          <span *ngIf="language === 'en'">English</span>
          <span *ngIf="language === 'fr'">Français</span>
        </button>
      </div>
      <div class="hidden md:flex items-center ml-4">
        <button
          class="flex items-center px-2 xl:px-4 text-secondary"
          [appMenuTriggerFor]="languageMenu"
          xPosition="after"
        >
          <ng-icon name="heroLanguageSolid" size="24"></ng-icon>
        </button>
        <app-menu #languageMenu>
          <button
            class="py-2 px-4 text-left hover:bg-slate-100"
            (click)="changeLanguage('fr')"
          >
            Français
          </button>
          <button
            class="py-2 px-4 text-left hover:bg-slate-100"
            (click)="changeLanguage('en')"
          >
            English
          </button>
        </app-menu>
        <a
          [routerLink]="'/auth/register'"
          class="px-2 xl:px-4 py-2 bg-accent text-primary xl:text-xs text-[.7rem] font-extrabold rounded-lg uppercase"
          *ngIf="!isAuthenticated()"
          >{{ "button.register" | translate }}</a
        >
        <a
          [routerLink]="'/auth/login'"
          class="px-2 xl:px-4 py-2 ml-4 bg-secondary-light text-primary xl:text-xs text-[.7rem] font-extrabold rounded-lg uppercase"
          *ngIf="!isAuthenticated()"
          >{{ "button.login" | translate }}</a
        >
      </div>
      <div class="hidden md:flex items-center ml-4" *ngIf="isAuthenticated()">
        <button
          type="button"
          class="md:flex items-center mr-5 hidden text-primary text-xs hover:text-secondary focus:text-secondary font-bold uppercase"
          (click)="onAdd()"
          [attr.arial-label]="'button.add_osc' | translate"
        >
          <ng-icon name="heroPlusSolid" size="16" strokeWidth="3"></ng-icon>
          <span
            class="ml-1 inline-flex md:hidden xl:inline-flex"
            style="font-size: 10px"
            >{{ "button.add_osc" | translate }}</span
          >
        </button>
        <button
          type="button"
          class="flex items-center text-primary hover:text-secondary focus:text-secondary"
          [appMenuTriggerFor]="userMenu"
          xPosition="after"
          [attr.aria-label]="user?.name"
        >
          <ng-icon name="heroUserSolid" size="24"></ng-icon>
        </button>
        <app-menu #userMenu>
          <button
            class="py-2 px-4 text-left hover:bg-slate-100"
            (click)="logout()"
          >
            {{ "button.logout" | translate }}
          </button>
        </app-menu>
      </div>
    </div>
  </div>
</div>
